/******** GLOBAL ********/
/** Header Position */
.header{
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -134px;
}

.button{
  cursor: pointer;
  border-radius: 50%;
  color: #C0C0C0;
  text: #fff;
}

.buttonplus{
  cursor: pointer;
  border-radius: 50%;
  color: #FFD700;
  text: #fff;
}
.flag{
  cursor: pointer;
  color: #FFD700;
}

/** Race Composents Position */
.raceComposent{
  text-align: center;
}

/** Box */
.box{
  width: 40px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  color: #C0C0C0;
  font-weight: bold;
}

/** Contestants */
.course{
  top : 250px;
  position:absolute;
}

.contestant{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position:absolute;
  background-color: #cc0000;
}

.contestantFinishPosition{
  position: absolute;
  height: 50px;
  text-align: center;
  color: #000;
  vertical-align: middle;
}

/** FinishLine */
.finishLine{
  width: 10px;
  float: left;
  margin-left;
  height: 0px;
  background-color: #fff;
}

.text{
  color: #B5B5B5;
  font-Family: Impact, Arial;
}

/** Body */
.body{
  /* background-color: #000 */
  background-color: #000;
}
