/******** GLOBAL ********/
/** Header Position */
.header{
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -134px;
}

.button{
  cursor: pointer;
  border-radius: 50%;
  background-color: #55a5ff;
}

/** Race Composents Position */
.raceComposent{
  text-align: center;
}

/** Box */
.box{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
}

/** Contestants */
.course{
  top : 180px;
  position:absolute;
}

.contestant{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position:absolute;
  background-color: #cc0000;
}

.contestantFinishPosition{
  position: absolute;
  /* width: 50px; */
  height: 50px;
  /* border-radius: 50px; */
  text-align: center;
  /* background-color: #cc0000; */
  color: #000;
  vertical-align: middle;
}

/** FinishLine */
.finishLine{
  width: 10px;
  float: left;
  margin-left;
  height: 0px;
  background-color: #000;
}

.text{
  color: #B5B5B5;
  font-Family: Impact, Arial;
}

/** Body */
.body{
  /* background-color: #000 */
  background-color: #fff
}
